<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <title>Crypto Calculator</title>
</head>
<body class="body">

<div class="container">
  <div class="row">
    <div class="mainBlock col-sm-12 col-lg-4 mx-auto">
      <h1>CryptoCalc</h1>
      <div class="assetBlock">
        sdsd
      </div>
      <div class="searchBlock">
        <input type="text" name="asset" />
      </div>
    </div>
  </div>
</div>

</body>
</html>