<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/css/main.css" />
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
  <title>Crypto Calculator</title>
  <script src="https://kit.fontawesome.com/5ac842a7e3.js" crossorigin="anonymous"></script>
</head>
<body class="body">

<div class="container">
  <div class="row">
    <div class="effectHolder  col-sm-12 col-lg-4 mx-auto">
      <div class="mainBlock">
        <h1>CryptoCalc</h1>
        <div id="assets">
          <% crypto.forEach(coin => { %>
          <div class="tableEffect">
            <table class="assetBlock">
              <tbody>
                <tr>
                  <td class="cryptoIcon">
                    <img src="https://s2.coinmarketcap.com/static/img/coins/64x64/<%= coin.id %>.png" />
                  </td>
                  <td class="cryptoName">
                    <% coin.symbol %>
                  </td>
                  <td class="assetSize">
                    <input type="text" inputmode="numeric" pattern="[0-9]*" name="assetSize" placeholder="Allocation %" />
                  </td>
                  <td class="delBtn">
                    <div class="iconBtn">
                      <i class="fa-solid fa-trash"></i>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <% }); %>
        </div>

        <div class="tableEffect">
          <table class="searchBlock">
            <tbody>
              <tr>
                <td class="field">
                  <input type="text" name="asset" placeholder="Coin name" />
                </td>
                <td class="searchBtn">
                  <div class="iconBtn">
                    <i class="fa-solid fa-plus"></i>
                  </div>
                </td>
                <td class="addBtn">
                  <div class="iconBtn">
                    <i class="fa-solid fa-arrow-up-from-bracket fa-fade"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="tableEffect">
          <table class="budgetBlock">
            <tbody>
              <tr>
                <td class="download">
                  <div class="iconBtn">
                    <i class="fa-solid fa-file-arrow-down"></i>
                  </div>
                </td>
                <td class="budgetField">
                  <input type="text" inputmode="numeric" pattern="[0-9]*" name="budget" placeholder="Budget" />
                </td>
                <td class="countBtn">
                  <div class="iconBtn">
                    <i class="fa-solid fa-calculator"></i>
                  </div>
                </td>
                <td class="smartBtn">
                  <div class="iconBtn">
                    <i class="fa-solid fa-microchip smartOn"></i>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>