@font-face {
  font-family: 'Electronica';
  src: url('../fonts/Electronica.otf');
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway.ttf');
}

html, .body {
  margin: 0;
  padding: 0;
}

.body {
  color: #fff;
  background-color: #1f1f1f;
}



.mainBlock {
  padding: 10px;
  text-align: center;
  background-color: #4a3959;
  box-sizing: border-box;
  box-shadow: 0 0 5px 0 #000;
}

.mainBlock h1 {
  margin: 0;
  padding: 0;
  color: #3e2f4a;
  font-size: 24px;
  font-family: Electronica;
  user-select: none;
}